{% extends 'base.twig' %}

{% block content %}
    <h1>Code Samples</h1>
    <div class="row">
        <div class="col-sm-3 form-group">
            <label>Select a language</label>
            <select id="lang-select" class="form-control">
            {% for def in data %}
                <option value="{{def.lang.ref}}">{{ def.name }}</option>
            {% endfor %}
            </select>
        </div>
    </div>
    <div id="lang-showcase"></div>
{% endblock %}

{% block js %}
 <script type="text/javascript">
    $(document).ready(function(){

        var treePath = 'https://api.github.com/repos/vkbansal{{data.project.base}}/git/trees/gh-pages',
            treePromise = $.get(treePath + "?recursive=1"),
            cache = {};

        function switchSample(id, source){
            treePromise.done(function(data){
                for(var i = 0, l = data.tree.length; i < l; i++){
                    var file = data.tree[i];

                    if (file.path === 'samples/partials/' + id + '.html'){
                        if (cache[id]){
                            $("#lang-showcase").html(cache[id]);
                        } else {
                            $.ajax({
                                url: file.url,
                                headers:{
                                    Accept: "application/vnd.github.VERSION.raw",
                                    Authorization: "Basic {{ data.project.access_token }}"
                                },
                                dataType: 'html',
                                beforeSend: function(){
                                    var span = $(document.createElement('div')).addClass('loader');
                                    $("#lang-showcase").empty().append(span);
                                }
                            }).done(function(code){
                                $("#lang-showcase").html(code);
                                cache[id] = code;
                            });
                        }
                        break;
                    }
                }
                if (source === 'hash'){
                    $("#lang-select").val(id);
                } else if (source === 'select'){
                    window.location.hash = "#" + id;
                }
            });
        }

        $("#lang-select").on('change', function(){
            var id = $(this).val();
            switchSample(id, 'select');
        });

        var hash = window.location.hash.substring(1);

        if(hash){
            switchSample(hash, 'hash');
        } else {
            switchSample('markup', 'hash');
            $("#lang-select").val('markup');
        }
    });
</script>

{% endblock %}
