<p>Default language reference: <b>csharp</b></p>
<pre class="language-csharp"><code class="language-csharp"><span class="token keyword">using</span> System<span class="token punctuation">;</span><span class="token preprocessor">

#pragma warning disable </span><span class="token number">414</span><span class="token punctuation">,</span> <span class="token number">3021</span>

<span class="token keyword">public</span> <span class="token keyword">class</span> <span class="token class-name">Program</span>
<span class="token punctuation">{</span>
    <span class="token comment" spellcheck="true">/// &lt;summary&gt;The entry point to the program.&lt;/summary&gt;
</span>    <span class="token keyword">public</span> <span class="token keyword">static</span> <span class="token keyword">int</span> <span class="token function">Main<span class="token punctuation">(</span></span><span class="token keyword">string</span><span class="token punctuation">[</span><span class="token punctuation">]</span> args<span class="token punctuation">)</span>
    <span class="token punctuation">{</span>
        Console<span class="token punctuation">.</span><span class="token function">WriteLine<span class="token punctuation">(</span></span><span class="token string">"Hello, World!"</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
        <span class="token keyword">string</span> s <span class="token operator">=</span> @"This
<span class="token string">""</span><span class="token keyword">string</span><span class="token string">""</span>
spans
multiple
lines<span class="token operator">!</span>"<span class="token punctuation">;</span>
        <span class="token keyword">return</span> <span class="token number">0</span><span class="token punctuation">;</span>
    <span class="token punctuation">}</span>
<span class="token punctuation">}</span>

<span class="token keyword">async</span> Task<span class="token operator">&lt;</span><span class="token keyword">int</span><span class="token operator">&gt;</span> <span class="token function">AccessTheWebAsync<span class="token punctuation">(</span></span><span class="token punctuation">)</span>
<span class="token punctuation">{</span>
    <span class="token comment" spellcheck="true">// ...
</span>    <span class="token keyword">string</span> urlContents <span class="token operator">=</span> <span class="token keyword">await</span> getStringTask<span class="token punctuation">;</span>
    <span class="token keyword">return</span> urlContents<span class="token punctuation">.</span>Length<span class="token punctuation">;</span>
<span class="token punctuation">}</span>

</code></pre>
