<p>Default language reference: <b></b></p>
<pre class="language-"><code class="language-"><span class="token comment" spellcheck="true"># language: en</span>
<span class="token feature"><span class="token keyword">Feature:</span><span class="token important"> Addition</span>
  In order to avoid silly mistakes
  As a math idiot
  I want to be told the sum of two numbers

</span>  <span class="token tag">@this_is_a_tag</span>
  <span class="token scenario"><span class="token keyword">Scenario Outline:</span><span class="token important"> Add two numbers</span></span>
    * I have a calculator
    <span class="token atrule">Given</span> I have entered <span class="token outline variable">&lt;input_1&gt;</span> into the calculator
    <span class="token atrule">And</span> I have entered <span class="token outline variable">&lt;input_2&gt;</span> into the calculator
    <span class="token atrule">When</span> I press <span class="token outline variable">&lt;button&gt;</span>
    <span class="token atrule">Then</span> the result should be <span class="token outline variable">&lt;output&gt;</span> on the screen
    <span class="token atrule">And</span> I have a string like
    <span class="token pystring string">"""
    Here is
    some
    multiline text
    """</span>

  <span class="token scenario"><span class="token keyword">Examples:</span><span class="token important"></span></span><span class="token table-head"><span class="token th variable">
    </span><span class="token punctuation">|</span><span class="token th variable"> input_1 </span><span class="token punctuation">|</span><span class="token th variable"> input_2 </span><span class="token punctuation">|</span><span class="token th variable"> button </span><span class="token punctuation">|</span><span class="token th variable"> output </span><span class="token punctuation">|</span></span><span class="token table-body"><span class="token td string">
    </span><span class="token punctuation">|</span><span class="token td string"> 20      </span><span class="token punctuation">|</span><span class="token td string"> 30      </span><span class="token punctuation">|</span><span class="token td string"> add    </span><span class="token punctuation">|</span><span class="token td string"> 50     </span><span class="token punctuation">|</span><span class="token td string">
    </span><span class="token punctuation">|</span><span class="token td string"> 2       </span><span class="token punctuation">|</span><span class="token td string"> 5       </span><span class="token punctuation">|</span><span class="token td string"> add    </span><span class="token punctuation">|</span><span class="token td string"> 7      </span><span class="token punctuation">|</span><span class="token td string">
    </span><span class="token punctuation">|</span><span class="token td string"> 0       </span><span class="token punctuation">|</span><span class="token td string"> 40      </span><span class="token punctuation">|</span><span class="token td string"> add    </span><span class="token punctuation">|</span><span class="token td string"> 40     </span><span class="token punctuation">|</span></span>

</code></pre>
