<p>Default language reference: <b>http</b></p>
<pre class="language-http"><code class="language-http">POST /task?id=1 HTTP/1.1
<span class="token keyword">Host:</span> example.org
<span class="token keyword">Content-Type:</span> application/json; charset=utf-8
<span class="token keyword">Content-Length:</span> 19<span class="token application/json">

<span class="token punctuation">{</span><span class="token string">"status"</span><span class="token punctuation">:</span> <span class="token string">"ok"</span><span class="token punctuation">,</span> <span class="token string">"extended"</span><span class="token punctuation">:</span> <span class="token keyword">true</span><span class="token punctuation">}</span>
</span>
</code></pre>
