<p>Default language reference: <b></b></p>
<pre class="language-"><code class="language-"><span class="token comment" spellcheck="true">;Settings relating to the location and loading of the database</span>
<span class="token important">[Database]</span><span class="token constant">
ProfileDir</span><span class="token attr-value"><span class="token punctuation">=</span>.</span>
<span class="token constant">ShowProfileMgr</span><span class="token attr-value"><span class="token punctuation">=</span>smart</span>
Profile1_Name<span class="token important">[]</span> <span class="token attr-value"><span class="token punctuation">=</span> "\|/_-=MegaDestoyer=-_\|/"</span>
<span class="token constant">DefaultProfile</span><span class="token attr-value"><span class="token punctuation">=</span>True</span>
<span class="token constant">AutoCreate</span> <span class="token attr-value"><span class="token punctuation">=</span> no</span>

<span class="token important">[AutoExec]</span><span class="token constant">
use-prompt</span><span class="token attr-value"><span class="token punctuation">=</span>"prompt"</span>
<span class="token constant">Glob</span><span class="token attr-value"><span class="token punctuation">=</span>autoexec_*.ini</span>
<span class="token constant">AskAboutIgnoredPlugins</span><span class="token attr-value"><span class="token punctuation">=</span></span>

</code></pre>
