<p>Default language reference: <b>julia</b></p>
<pre class="language-"><code class="language-"><span class="token keyword">function</span> mandel<span class="token punctuation">(</span>z<span class="token punctuation">)</span>
    <span class="token number">c</span> <span class="token operator">=</span> z
    maxiter <span class="token operator">=</span> <span class="token number">80</span>
    <span class="token keyword">for</span> n <span class="token operator">=</span> <span class="token number">1</span><span class="token punctuation">:</span>maxiter
        <span class="token keyword">if</span> abs<span class="token punctuation">(</span>z<span class="token punctuation">)</span> <span class="token operator">&gt;</span> <span class="token number">2</span>
            <span class="token keyword">return</span> n<span class="token number">-1</span>
        <span class="token keyword">end</span>
        z <span class="token operator">=</span> z<span class="token operator">^</span><span class="token number">2</span> <span class="token operator">+</span> <span class="token number">c</span>
    <span class="token keyword">end</span>
    <span class="token keyword">return</span> maxiter
<span class="token keyword">end</span>

<span class="token keyword">function</span> randmatstat<span class="token punctuation">(</span>t<span class="token punctuation">)</span>
    n <span class="token operator">=</span> <span class="token number">5</span>
    v <span class="token operator">=</span> zeros<span class="token punctuation">(</span>t<span class="token punctuation">)</span>
    w <span class="token operator">=</span> zeros<span class="token punctuation">(</span>t<span class="token punctuation">)</span>
    <span class="token keyword">for</span> i <span class="token operator">=</span> <span class="token number">1</span><span class="token punctuation">:</span>t
        <span class="token number">a</span> <span class="token operator">=</span> randn<span class="token punctuation">(</span>n<span class="token punctuation">,</span>n<span class="token punctuation">)</span>
        <span class="token number">b</span> <span class="token operator">=</span> randn<span class="token punctuation">(</span>n<span class="token punctuation">,</span>n<span class="token punctuation">)</span>
        <span class="token number">c</span> <span class="token operator">=</span> randn<span class="token punctuation">(</span>n<span class="token punctuation">,</span>n<span class="token punctuation">)</span>
        <span class="token number">d</span> <span class="token operator">=</span> randn<span class="token punctuation">(</span>n<span class="token punctuation">,</span>n<span class="token punctuation">)</span>
        P <span class="token operator">=</span> <span class="token punctuation">[</span><span class="token number">a</span> <span class="token number">b</span> <span class="token number">c</span> <span class="token number">d</span><span class="token punctuation">]</span>
        Q <span class="token operator">=</span> <span class="token punctuation">[</span><span class="token number">a</span> <span class="token number">b</span><span class="token punctuation">;</span> <span class="token number">c</span> <span class="token number">d</span><span class="token punctuation">]</span>
        v<span class="token punctuation">[</span>i<span class="token punctuation">]</span> <span class="token operator">=</span> trace<span class="token punctuation">(</span><span class="token punctuation">(</span>P<span class="token punctuation">.</span>'<span class="token operator">*</span>P<span class="token punctuation">)</span><span class="token operator">^</span><span class="token number">4</span><span class="token punctuation">)</span>
        w<span class="token punctuation">[</span>i<span class="token punctuation">]</span> <span class="token operator">=</span> trace<span class="token punctuation">(</span><span class="token punctuation">(</span>Q<span class="token punctuation">.</span>'<span class="token operator">*</span>Q<span class="token punctuation">)</span><span class="token operator">^</span><span class="token number">4</span><span class="token punctuation">)</span>
    <span class="token keyword">end</span>
    std<span class="token punctuation">(</span>v<span class="token punctuation">)</span><span class="token operator">/</span>mean<span class="token punctuation">(</span>v<span class="token punctuation">)</span><span class="token punctuation">,</span> std<span class="token punctuation">(</span>w<span class="token punctuation">)</span><span class="token operator">/</span>mean<span class="token punctuation">(</span>w<span class="token punctuation">)</span>
<span class="token keyword">end</span>

</code></pre>
