<p>Default language reference: <b>lolcode</b></p>
<pre class="language-lolcode"><code class="language-lolcode"><span class="token comment" spellcheck="true">OBTW Convert a number to hexadecimal. This
     is returned as a string.
TLDR</span>
<span class="token keyword">HOW IZ I</span> <span class="token function">decimal_to_hex</span> <span class="token keyword">YR</span> num
    <span class="token keyword">I HAS A</span> i <span class="token keyword">ITZ</span> <span class="token number">0</span>
    <span class="token keyword">I HAS A</span> rem
    <span class="token keyword">I HAS A</span> hex_num <span class="token keyword">ITZ</span> <span class="token symbol"><span class="token keyword">A</span> BUKKIT</span>
    <span class="token keyword">I HAS A</span> decimal_num <span class="token keyword">ITZ</span> num
    <span class="token keyword">IM IN YR</span> <span class="token label string">num_loop</span>
        rem <span class="token keyword">R</span> <span class="token operator">MOD OF</span> decimal_num <span class="token keyword">AN</span> <span class="token number">16</span>
        <span class="token keyword">I HAS A</span> hex_digit
        rem<span class="token punctuation">,</span> <span class="token keyword">WTF?</span>
            <span class="token keyword">OMG</span> <span class="token number">10</span><span class="token punctuation">,</span> hex_digit <span class="token keyword">R</span> <span class="token string">"A"</span><span class="token punctuation">,</span> <span class="token keyword">GTFO</span>
            <span class="token keyword">OMG</span> <span class="token number">11</span><span class="token punctuation">,</span> hex_digit <span class="token keyword">R</span> <span class="token string">"B"</span><span class="token punctuation">,</span> <span class="token keyword">GTFO</span>
            <span class="token keyword">OMG</span> <span class="token number">12</span><span class="token punctuation">,</span> hex_digit <span class="token keyword">R</span> <span class="token string">"C"</span><span class="token punctuation">,</span> <span class="token keyword">GTFO</span>
            <span class="token keyword">OMG</span> <span class="token number">13</span><span class="token punctuation">,</span> hex_digit <span class="token keyword">R</span> <span class="token string">"D"</span><span class="token punctuation">,</span> <span class="token keyword">GTFO</span>
            <span class="token keyword">OMG</span> <span class="token number">14</span><span class="token punctuation">,</span> hex_digit <span class="token keyword">R</span> <span class="token string">"E"</span><span class="token punctuation">,</span> <span class="token keyword">GTFO</span>
            <span class="token keyword">OMG</span> <span class="token number">15</span><span class="token punctuation">,</span> hex_digit <span class="token keyword">R</span> <span class="token string">"F"</span><span class="token punctuation">,</span> <span class="token keyword">GTFO</span>
            <span class="token keyword">OMGWTF</span><span class="token punctuation">,</span> hex_digit <span class="token keyword">R</span> rem
        <span class="token keyword">OIC</span>
        hex_num <span class="token keyword">HAS A</span> <span class="token keyword">SRS</span> i <span class="token keyword">ITZ</span> hex_digit
        decimal_num <span class="token keyword">R</span> <span class="token operator">QUOSHUNT OF</span> decimal_num <span class="token keyword">AN</span> <span class="token number">16</span>
        <span class="token operator">BOTH SAEM</span> decimal_num <span class="token keyword">AN</span> <span class="token number">0</span><span class="token punctuation">,</span> <span class="token keyword">O RLY?</span>
            <span class="token keyword">YA RLY</span><span class="token punctuation">,</span> <span class="token keyword">GTFO</span>
            <span class="token keyword">NO WAI</span><span class="token punctuation">,</span> i <span class="token keyword">R</span> <span class="token operator">SUM OF</span> i <span class="token keyword">AN</span> <span class="token number">1</span>
        <span class="token keyword">OIC</span>
    <span class="token keyword">IM OUTTA YR</span> <span class="token label string">num_loop</span>
    <span class="token keyword">I HAS A</span> hex_string <span class="token keyword">ITZ</span> <span class="token symbol"><span class="token keyword">A</span> YARN</span>
    <span class="token keyword">IM IN YR</span> <span class="token label string">string_reverse</span>
        <span class="token operator">DIFFRINT</span> i <span class="token keyword">AN</span> <span class="token operator">BIGGR OF</span> i <span class="token keyword">AN</span> <span class="token number">0</span><span class="token punctuation">,</span> <span class="token keyword">O RLY?</span>
            <span class="token keyword">YA RLY</span><span class="token punctuation">,</span> <span class="token keyword">GTFO</span>
        <span class="token keyword">OIC</span>
        hex_string <span class="token keyword">R</span> <span class="token keyword">SMOOSH</span> hex_string <span class="token keyword">AN</span> hex_num<span class="token keyword">'Z</span> <span class="token keyword">SRS</span> i <span class="token keyword">MKAY</span>
        i <span class="token keyword">R</span> <span class="token operator">DIFF OF</span> i <span class="token keyword">AN</span> <span class="token number">1</span>
    <span class="token keyword">IM OUTTA YR</span> <span class="token label string">string_reverse</span>
    <span class="token keyword">FOUND YR</span> hex_string
<span class="token keyword">IF U SAY SO</span>

</code></pre>
