<p>Default language reference: <b>rest</b></p>
<pre class="language-"><code class="language-"><span class="token title"><span class="token punctuation">===============</span>
<span class="token important"> Section Title</span>
<span class="token punctuation">===============</span></span>

<span class="token title"><span class="token punctuation">---------------</span>
<span class="token important"> Section Title</span>
<span class="token punctuation">---------------</span></span>

<span class="token title"><span class="token important">Section Title</span>
<span class="token punctuation">=============</span></span>

<span class="token title"><span class="token important">Section Title</span>
<span class="token punctuation">-------------</span></span>

<span class="token title"><span class="token important">Section Title</span>
<span class="token punctuation">`````````````</span></span>

<span class="token title"><span class="token important">Section Title</span>
<span class="token punctuation">'''''''''''''</span></span>

<span class="token title"><span class="token important">Section Title</span>
<span class="token punctuation">.............</span></span>

<span class="token title"><span class="token important">Section Title</span>
<span class="token punctuation">~~~~~~~~~~~~~</span></span>

<span class="token title"><span class="token important">Section Title</span>
<span class="token punctuation">*************</span></span>

<span class="token title"><span class="token important">Section Title</span>
<span class="token punctuation">+++++++++++++</span></span>

<span class="token title"><span class="token important">Section Title</span>
<span class="token punctuation">^^^^^^^^^^^^^</span></span>

<span class="token list-bullet punctuation">-</span> This is the first bullet list item.
<span class="token list-bullet punctuation">-</span> This is the first paragraph in the second item in the list.

  This is the second paragraph in the second item in the list.

  <span class="token list-bullet punctuation">-</span> This is a sublist.  The bullet lines up with the left edge of
    the text blocks above.

<span class="token list-bullet punctuation">-</span> This is the third item of the main list.

This paragraph is not part of the list.

<span class="token list-bullet punctuation">1.</span> Item 1 initial text.

   <span class="token list-bullet punctuation">a)</span> Item 1a.
   <span class="token list-bullet punctuation">b)</span> Item 1b.

<span class="token list-bullet punctuation">2.</span> <span class="token list-bullet punctuation">a)</span> Item 2a.
   <span class="token list-bullet punctuation">b)</span> Item 2b.


<span class="token field attr-name">:Date:</span> 2001-08-16
<span class="token field attr-name">:Version:</span> 1
<span class="token field attr-name">:Authors:</span> - Me
          <span class="token list-bullet punctuation">-</span> Myself
          <span class="token list-bullet punctuation">-</span> I
<span class="token field attr-name">:Indentation:</span> Since the field marker may be quite long, the second
   and subsequent lines of the field body do not have to line up
   with the first line, but they must be indented relative to the
   field name marker, and they must line up with each other.
<span class="token field attr-name">:Parameter i:</span> integer


<span class="token command-line-option symbol">-a</span>         Output all.
<span class="token command-line-option symbol">-b</span>         Output both (this description is
           quite long).
<span class="token command-line-option symbol">-c arg</span>     Output just arg.
<span class="token command-line-option symbol">--long</span>     Output all day long.

<span class="token command-line-option symbol">-p</span>         This option has two paragraphs in the description.
           This is the first.

           This is the second.  Blank lines may be omitted between
           options (as above) or left in (as here and below).

<span class="token command-line-option symbol">--very-long-option</span>  A VMS-style option.  Note the adjustment for
                    the required two spaces.

<span class="token command-line-option symbol">--an-even-longer-option</span>
           The description can also start on the next line.

<span class="token command-line-option symbol">-2, --two</span>  This option has two variants.

<span class="token command-line-option symbol">-f FILE, --file=FILE</span>  These two options are synonyms; both have
                      arguments.

<span class="token command-line-option symbol">/V</span>         A VMS/DOS-style option.


<span class="token literal-block"><span class="token literal-block-punctuation punctuation">::</span>

    for a in [5,4,3,2,1]:   # this is program code, shown as-is
        print a
    print "it's..."
    # a literal block continues until the indentation ends</span>

John Doe wrote<span class="token quoted-literal-block"><span class="token literal-block-punctuation punctuation">::</span>

<span class="token literal-block-punctuation punctuation">&gt;</span><span class="token literal-block-punctuation punctuation">&gt;</span> *Great* idea!
<span class="token literal-block-punctuation punctuation">&gt;</span>
<span class="token literal-block-punctuation punctuation">&gt;</span> Why didn't I think of that?</span>

You just did!  ;-)

<span class="token punctuation">|</span> Lend us a couple of bob till Thursday.
<span class="token punctuation">|</span> I'm absolutely skint.
<span class="token punctuation">|</span> But I'm expecting a postal order and I can pay you back
  as soon as it comes.
<span class="token punctuation">|</span> Love, Ewan.

Take it away, Eric the Orchestra Leader!

    <span class="token punctuation">|</span> A one, two, a one two three four
    <span class="token punctuation">|</span>
    <span class="token punctuation">|</span> Half a bee, philosophically,
    <span class="token punctuation">|</span>     must, <span class="token inline"><span class="token punctuation">*</span><span class="token italic">ipso facto</span><span class="token punctuation">*</span></span>, half not be.
    <span class="token punctuation">|</span> But half the bee has got to be,
    <span class="token punctuation">|</span>     <span class="token inline"><span class="token punctuation">*</span><span class="token italic">vis a vis</span><span class="token punctuation">*</span></span> its entity.  D'you see?
    <span class="token punctuation">|</span>
    <span class="token punctuation">|</span> But can a bee be said to be
    <span class="token punctuation">|</span>     or not to be an entire bee,
    <span class="token punctuation">|</span>         when half the bee is not a bee,
    <span class="token punctuation">|</span>             due to some ancient injury?
    <span class="token punctuation">|</span>
    <span class="token punctuation">|</span> Singing...

<span class="token table"><span class="token punctuation">+------------------------+------------+----------+----------+</span>
<span class="token punctuation">|</span> Header row, column 1   <span class="token punctuation">|</span> Header 2   <span class="token punctuation">|</span> Header 3 <span class="token punctuation">|</span> Header 4 <span class="token punctuation">|</span>
<span class="token punctuation">|</span> (header rows optional) <span class="token punctuation">|</span>            <span class="token punctuation">|</span>          <span class="token punctuation">|</span>          <span class="token punctuation">|</span>
<span class="token punctuation">+========================+============+==========+==========+</span>
<span class="token punctuation">|</span> body row 1, column 1   <span class="token punctuation">|</span> column 2   <span class="token punctuation">|</span> column 3 <span class="token punctuation">|</span> column 4 <span class="token punctuation">|</span>
<span class="token punctuation">+------------------------+------------+----------+----------+</span>
<span class="token punctuation">|</span> body row 2             <span class="token punctuation">|</span> Cells may span columns.          <span class="token punctuation">|</span>
<span class="token punctuation">+------------------------+------------+---------------------+</span>
<span class="token punctuation">|</span> body row 3             <span class="token punctuation">|</span> Cells may  <span class="token punctuation">|</span> - Table cells       <span class="token punctuation">|</span>
<span class="token punctuation">+------------------------+</span> span rows. <span class="token punctuation">|</span> - contain           <span class="token punctuation">|</span>
<span class="token punctuation">|</span> body row 4             <span class="token punctuation">|</span>            <span class="token punctuation">|</span> - body elements.    <span class="token punctuation">|</span>
<span class="token punctuation">+------------------------+------------+---------------------+</span></span>

  <span class="token table"><span class="token punctuation">+--------------+----------+-----------+-----------+</span>
  <span class="token punctuation">|</span> row 1, col 1 <span class="token punctuation">|</span> column 2 <span class="token punctuation">|</span> column 3  <span class="token punctuation">|</span> column 4  <span class="token punctuation">|</span>
  <span class="token punctuation">+--------------+----------+-----------+-----------+</span>
  <span class="token punctuation">|</span> row 2        <span class="token punctuation">|</span>                                  <span class="token punctuation">|</span>
  <span class="token punctuation">+--------------+----------+-----------+-----------+</span>
  <span class="token punctuation">|</span> row 3        <span class="token punctuation">|</span>          <span class="token punctuation">|</span>           <span class="token punctuation">|</span>           <span class="token punctuation">|</span>
  <span class="token punctuation">+--------------+----------+-----------+-----------+</span></span>

<span class="token table"><span class="token punctuation">=====</span>  <span class="token punctuation">=====</span>  <span class="token punctuation">=======</span>
  A      B    A and B
<span class="token punctuation">=====</span>  <span class="token punctuation">=====</span>  <span class="token punctuation">=======</span>
False  False  False
True   False  False
False  True   False
True   True   True
<span class="token punctuation">=====</span>  <span class="token punctuation">=====</span>  <span class="token punctuation">=======</span></span>

  <span class="token table"><span class="token punctuation">=====</span>  <span class="token punctuation">=====</span>  <span class="token punctuation">======</span>
     Inputs     Output
  <span class="token punctuation">------------</span>  <span class="token punctuation">------</span>
    A      B    A or B
  <span class="token punctuation">=====</span>  <span class="token punctuation">=====</span>  <span class="token punctuation">======</span>
  False  False  False
  True   False  True
  False  True   True
  True   True   True
  <span class="token punctuation">=====</span>  <span class="token punctuation">=====</span>  <span class="token punctuation">======</span></span>


<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token link-target string"><span class="token punctuation">[</span>1<span class="token punctuation">]</span></span> Body elements go here.

If <span class="token link string"><span class="token punctuation">[</span>#note<span class="token punctuation">]_</span></span> is the first footnote reference, it will show up as
"[1]".  We can refer to it again as <span class="token link string"><span class="token punctuation">[</span>#note<span class="token punctuation">]_</span></span> and again see
"[1]".  We can also refer to it as <span class="token link string">note<span class="token punctuation">_</span></span> (an ordinary internal
hyperlink reference).

<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token link-target string"><span class="token punctuation">[</span>#note<span class="token punctuation">]</span></span> This is the footnote labeled "note".

Here is a symbolic footnote reference: <span class="token link string"><span class="token punctuation">[</span>*<span class="token punctuation">]_</span></span>.

<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token link-target string"><span class="token punctuation">[</span>*<span class="token punctuation">]</span></span> This is the footnote.

<span class="token link string"><span class="token punctuation">[</span>2<span class="token punctuation">]_</span></span> will be "2" (manually numbered),
<span class="token link string"><span class="token punctuation">[</span>#<span class="token punctuation">]_</span></span> will be "3" (anonymous auto-numbered), and
<span class="token link string"><span class="token punctuation">[</span>#label<span class="token punctuation">]_</span></span> will be "1" (labeled auto-numbered).

<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token link-target string"><span class="token punctuation">[</span>2<span class="token punctuation">]</span></span> This footnote is labeled manually, so its number is fixed.

<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token link-target string"><span class="token punctuation">[</span>#label<span class="token punctuation">]</span></span> This autonumber-labeled footnote will be labeled "1".
   It is the first auto-numbered footnote and no other footnote
   with label "1" exists.  The order of the footnotes is used to
   determine numbering, not the order of the footnote references.

<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token link-target string"><span class="token punctuation">[</span>#<span class="token punctuation">]</span></span> This footnote will be labeled "3".  It is the second
   auto-numbered footnote, but footnote label "2" is already used.

Here is a citation reference: <span class="token link string"><span class="token punctuation">[</span>CIT2002<span class="token punctuation">]_</span></span>.

<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token link-target string"><span class="token punctuation">[</span>CIT2002<span class="token punctuation">]</span></span> This is the citation.  It's just like a footnote,
   except the label is textual.

<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token link-target string"><span class="token punctuation">_</span>hyperlink-name<span class="token punctuation">:</span></span> link-block

<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token link-target string"><span class="token punctuation">_</span><span class="token punctuation">_</span><span class="token punctuation">:</span></span> anonymous-hyperlink-target-link-block

<span class="token punctuation">__</span> anonymous-hyperlink-target-link-block

Clicking on this internal hyperlink will take us to the <span class="token link string">target<span class="token punctuation">_</span></span>
below.

<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token link-target string"><span class="token punctuation">_</span>target<span class="token punctuation">:</span></span>

The hyperlink target above points to this paragraph.

<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token directive function">image<span class="token punctuation">::</span></span> mylogo.jpeg

<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token directive function">figure<span class="token punctuation">::</span></span> larch.png

   The larch.

<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token directive function">note<span class="token punctuation">::</span></span> This is a paragraph

   <span class="token list-bullet punctuation">-</span> Here is a bullet list.

<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token directive function">figure<span class="token punctuation">::</span></span> picture.png
   <span class="token field attr-name">:scale:</span> 50 %
   <span class="token field attr-name">:alt:</span> map to buried treasure

   This is the caption of the figure (a simple paragraph).

   The legend consists of all elements after the caption.  In this
   case, the legend consists of this paragraph and the following
   table:

   <span class="token table"><span class="token punctuation">+-----------------------+-----------------------+</span>
   <span class="token punctuation">|</span> Symbol                <span class="token punctuation">|</span> Meaning               <span class="token punctuation">|</span>
   <span class="token punctuation">+=======================+=======================+</span>
   <span class="token punctuation">|</span> .. image:: tent.png   <span class="token punctuation">|</span> Campground            <span class="token punctuation">|</span>
   <span class="token punctuation">+-----------------------+-----------------------+</span>
   <span class="token punctuation">|</span> .. image:: waves.png  <span class="token punctuation">|</span> Lake                  <span class="token punctuation">|</span>
   <span class="token punctuation">+-----------------------+-----------------------+</span>
   <span class="token punctuation">|</span> .. image:: peak.png   <span class="token punctuation">|</span> Mountain              <span class="token punctuation">|</span>
   <span class="token punctuation">+-----------------------+-----------------------+</span></span>&lt;/code&gt;&lt;/pre&gt;

&lt;h2&gt;Substitutions&lt;/h2&gt;
&lt;pre&gt;&lt;code&gt;The <span class="token inline"><span class="token punctuation">|</span><span class="token substitution attr-value">biohazard</span><span class="token punctuation">|</span></span> symbol must be used on containers used to
dispose of medical waste.

<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token substitution-def"><span class="token substitution attr-value"><span class="token punctuation">|</span>biohazard<span class="token punctuation">|</span></span> <span class="token directive function">image<span class="token punctuation">::</span></span></span> biohazard.png

<span class="token inline"><span class="token punctuation">|</span><span class="token substitution attr-value">Michael</span><span class="token punctuation">|</span></span> and <span class="token inline"><span class="token punctuation">|</span><span class="token substitution attr-value">Jon</span><span class="token punctuation">|</span></span> are our widget-wranglers.

<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token substitution-def"><span class="token substitution attr-value"><span class="token punctuation">|</span>Michael<span class="token punctuation">|</span></span> <span class="token directive function">user<span class="token punctuation">::</span></span></span> mjones
<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token substitution-def"><span class="token substitution attr-value"><span class="token punctuation">|</span>Jon<span class="token punctuation">|</span></span> <span class="token directive function">    user<span class="token punctuation">::</span></span></span> jhl

West led the <span class="token inline"><span class="token punctuation">|</span><span class="token substitution attr-value">H</span><span class="token punctuation">|</span></span> 3, covered by dummy's <span class="token inline"><span class="token punctuation">|</span><span class="token substitution attr-value">H</span><span class="token punctuation">|</span></span> Q, East's <span class="token inline"><span class="token punctuation">|</span><span class="token substitution attr-value">H</span><span class="token punctuation">|</span></span> K,
and trumped in hand with the <span class="token inline"><span class="token punctuation">|</span><span class="token substitution attr-value">S</span><span class="token punctuation">|</span></span> 2.

<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token substitution-def"><span class="token substitution attr-value"><span class="token punctuation">|</span>H<span class="token punctuation">|</span></span> <span class="token directive function">image<span class="token punctuation">::</span></span></span> /images/heart.png
   <span class="token field attr-name">:height:</span> 11
   <span class="token field attr-name">:width:</span> 11
<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token substitution-def"><span class="token substitution attr-value"><span class="token punctuation">|</span>S<span class="token punctuation">|</span></span> <span class="token directive function">image<span class="token punctuation">::</span></span></span> /images/spade.png
   <span class="token field attr-name">:height:</span> 11
   <span class="token field attr-name">:width:</span> 11

<span class="token list-bullet punctuation">*</span> <span class="token inline"><span class="token punctuation">|</span><span class="token substitution attr-value">Red light</span><span class="token punctuation">|</span></span> means stop.
<span class="token list-bullet punctuation">*</span> <span class="token inline"><span class="token punctuation">|</span><span class="token substitution attr-value">Green light</span><span class="token punctuation">|</span></span> means go.
<span class="token list-bullet punctuation">*</span> <span class="token inline"><span class="token punctuation">|</span><span class="token substitution attr-value">Yellow light</span><span class="token punctuation">|</span></span> means go really fast.

<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token substitution-def"><span class="token substitution attr-value"><span class="token punctuation">|</span>Red light<span class="token punctuation">|</span></span> <span class="token directive function">   image<span class="token punctuation">::</span></span></span> red_light.png
<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token substitution-def"><span class="token substitution attr-value"><span class="token punctuation">|</span>Green light<span class="token punctuation">|</span></span> <span class="token directive function"> image<span class="token punctuation">::</span></span></span> green_light.png
<span class="token punctuation">..</span> <span class="token comment" spellcheck="true"></span><span class="token substitution-def"><span class="token substitution attr-value"><span class="token punctuation">|</span>Yellow light<span class="token punctuation">|</span></span> <span class="token directive function">image<span class="token punctuation">::</span></span></span> yellow_light.png&lt;/code&gt;&lt;/pre&gt;

<span class="token punctuation">..</span> <span class="token comment" spellcheck="true">This is a comment</span>

<span class="token punctuation">..</span>
<span class="token comment" spellcheck="true">   _so: is this!</span>

<span class="token punctuation">..</span>
<span class="token comment" spellcheck="true">   [and] this!</span>

<span class="token punctuation">..</span>
<span class="token comment" spellcheck="true">   this:: too!</span>

<span class="token punctuation">..</span>
<span class="token comment" spellcheck="true">   |even| this:: !</span>

This is <span class="token inline"><span class="token punctuation">*</span><span class="token italic">emphasized text</span><span class="token punctuation">*</span></span>.
This is <span class="token inline"><span class="token punctuation">**</span><span class="token bold">strong text</span><span class="token punctuation">**</span></span>.
This is <span class="token inline"><span class="token punctuation">`</span><span class="token interpreted-text attr-value">interpreted text</span><span class="token punctuation">`</span></span>.
<span class="token inline"><span class="token role function"><span class="token punctuation">:</span>role<span class="token punctuation">:</span></span><span class="token punctuation">`</span><span class="token interpreted-text attr-value">interpreted text</span><span class="token punctuation">`</span></span>
<span class="token inline"><span class="token punctuation">`</span><span class="token interpreted-text attr-value">interpreted text</span><span class="token punctuation">`</span><span class="token role function"><span class="token punctuation">:</span>role<span class="token punctuation">:</span></span></span>
This text is an example of <span class="token inline"><span class="token punctuation">``</span><span class="token inline-literal symbol">inline literals</span><span class="token punctuation">``</span></span>.
The regular expression <span class="token inline"><span class="token punctuation">``</span><span class="token inline-literal symbol">[+-]?(\d+(\.\d*)?|\.\d+)</span><span class="token punctuation">``</span></span> matches
floating-point numbers (without exponents).

See the <span class="token link string"><span class="token punctuation">`</span>Python home page &amp;lt;http://www.python.org&gt;<span class="token punctuation">`_</span></span> for info.

Oh yes, the <span class="token link string"><span class="token punctuation">_`</span>Norwegian Blue`</span>.  What's, um, what's wrong with it?
</code></pre>
