<p>Default language reference: <b></b></p>
<pre class="language-"><code class="language-"><span class="token comment" spellcheck="true"># This is a comment&lt;/code&gt;&lt;/pre&gt;
</span>
<span class="token string">"foo \"bar\" baz"</span>
<span class="token string">'foo \'bar\' baz'</span>

<span class="token reference">regular_expression</span> <span class="token punctuation">=</span> <span class="token regex">/abc/</span>
<span class="token reference">string_symbol</span> <span class="token punctuation">=</span> <span class="token symbol">:rip</span>

</code></pre>
