<p>Default language reference: <b></b></p>
<pre class="language-"><code class="language-"><span class="token keyword">package</span> examples

<span class="token keyword">object</span> lazyLib <span class="token punctuation">{</span>

  <span class="token comment" spellcheck="true">/** Delay the evaluation of an expression until it is needed. */</span>
  <span class="token keyword">def</span> delay<span class="token punctuation">[</span>A<span class="token punctuation">]</span><span class="token punctuation">(</span>value<span class="token operator">:</span> <span class="token keyword">=&gt;</span> A<span class="token punctuation">)</span><span class="token operator">:</span> Susp<span class="token punctuation">[</span>A<span class="token punctuation">]</span> <span class="token operator">=</span> <span class="token keyword">new</span> SuspImpl<span class="token punctuation">[</span>A<span class="token punctuation">]</span><span class="token punctuation">(</span>value<span class="token punctuation">)</span>

  <span class="token comment" spellcheck="true">/** Get the value of a delayed expression. */</span>
  <span class="token keyword">implicit</span> <span class="token keyword">def</span> force<span class="token punctuation">[</span>A<span class="token punctuation">]</span><span class="token punctuation">(</span>s<span class="token operator">:</span> Susp<span class="token punctuation">[</span>A<span class="token punctuation">]</span><span class="token punctuation">)</span><span class="token operator">:</span> A <span class="token operator">=</span> s<span class="token punctuation">(</span><span class="token punctuation">)</span>

  <span class="token comment" spellcheck="true">/**
   * Data type of suspended computations. (The name froms from ML.)
   */</span>
  <span class="token keyword">abstract</span> <span class="token keyword">class</span> Susp<span class="token punctuation">[</span><span class="token operator">+</span>A<span class="token punctuation">]</span> <span class="token keyword">extends</span> Function0<span class="token punctuation">[</span>A<span class="token punctuation">]</span>

  <span class="token comment" spellcheck="true">/**
   * Implementation of suspended computations, separated from the
   * abstract class so that the type parameter can be invariant.
   */</span>
  <span class="token keyword">class</span> SuspImpl<span class="token punctuation">[</span>A<span class="token punctuation">]</span><span class="token punctuation">(</span>lazyValue<span class="token operator">:</span> <span class="token keyword">=&gt;</span> A<span class="token punctuation">)</span> <span class="token keyword">extends</span> Susp<span class="token punctuation">[</span>A<span class="token punctuation">]</span> <span class="token punctuation">{</span>
    <span class="token keyword">private</span> <span class="token keyword">var</span> maybeValue<span class="token operator">:</span> Option<span class="token punctuation">[</span>A<span class="token punctuation">]</span> <span class="token operator">=</span> None

    <span class="token keyword">override</span> <span class="token keyword">def</span> apply<span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token operator">=</span> maybeValue <span class="token keyword">match</span> <span class="token punctuation">{</span>
      <span class="token keyword">case</span> None <span class="token keyword">=&gt;</span>
        <span class="token keyword">val</span> value <span class="token operator">=</span> lazyValue
        maybeValue <span class="token operator">=</span> Some<span class="token punctuation">(</span>value<span class="token punctuation">)</span>
        value
    <span class="token keyword">case</span> Some<span class="token punctuation">(</span>value<span class="token punctuation">)</span> <span class="token keyword">=&gt;</span>
        value
    <span class="token punctuation">}</span>

    <span class="token keyword">override</span> <span class="token keyword">def</span> toString<span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token operator">=</span> maybeValue <span class="token keyword">match</span> <span class="token punctuation">{</span>
      <span class="token keyword">case</span> None <span class="token keyword">=&gt;</span> <span class="token string">"Susp(?)"</span>
      <span class="token keyword">case</span> Some<span class="token punctuation">(</span>value<span class="token punctuation">)</span> <span class="token keyword">=&gt;</span> <span class="token string">"Susp("</span> <span class="token operator">+</span> value <span class="token operator">+</span> <span class="token string">")"</span>
    <span class="token punctuation">}</span>
  <span class="token punctuation">}</span>
<span class="token punctuation">}</span>

<span class="token keyword">object</span> lazyEvaluation <span class="token punctuation">{</span>
  <span class="token keyword">import</span> lazyLib<span class="token punctuation">.</span>_

  <span class="token keyword">def</span> main<span class="token punctuation">(</span>args<span class="token operator">:</span> Array<span class="token punctuation">[</span><span class="token builtin">String</span><span class="token punctuation">]</span><span class="token punctuation">)</span> <span class="token operator">=</span> <span class="token punctuation">{</span>
    <span class="token keyword">val</span> s<span class="token operator">:</span> Susp<span class="token punctuation">[</span><span class="token builtin">Int</span><span class="token punctuation">]</span> <span class="token operator">=</span> delay <span class="token punctuation">{</span> println<span class="token punctuation">(</span><span class="token string">"evaluating..."</span><span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token number">3</span> <span class="token punctuation">}</span>

    println<span class="token punctuation">(</span><span class="token string">"s     = "</span> <span class="token operator">+</span> s<span class="token punctuation">)</span>       <span class="token comment" spellcheck="true">// show that s is unevaluated
</span>    println<span class="token punctuation">(</span><span class="token string">"s()   = "</span> <span class="token operator">+</span> s<span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">)</span>     <span class="token comment" spellcheck="true">// evaluate s
</span>    println<span class="token punctuation">(</span><span class="token string">"s     = "</span> <span class="token operator">+</span> s<span class="token punctuation">)</span>       <span class="token comment" spellcheck="true">// show that the value is saved
</span>    println<span class="token punctuation">(</span><span class="token string">"2 + s = "</span> <span class="token operator">+</span> <span class="token punctuation">(</span><span class="token number">2</span> <span class="token operator">+</span> s<span class="token punctuation">)</span><span class="token punctuation">)</span> <span class="token comment" spellcheck="true">// implicit call to force()
</span>
    <span class="token keyword">val</span> sl <span class="token operator">=</span> delay <span class="token punctuation">{</span> Some<span class="token punctuation">(</span><span class="token number">3</span><span class="token punctuation">)</span> <span class="token punctuation">}</span>
    <span class="token keyword">val</span> sl1<span class="token operator">:</span> Susp<span class="token punctuation">[</span>Some<span class="token punctuation">[</span><span class="token builtin">Int</span><span class="token punctuation">]</span><span class="token punctuation">]</span> <span class="token operator">=</span> sl
    <span class="token keyword">val</span> sl2<span class="token operator">:</span> Susp<span class="token punctuation">[</span>Option<span class="token punctuation">[</span><span class="token builtin">Int</span><span class="token punctuation">]</span><span class="token punctuation">]</span> <span class="token operator">=</span> sl1   <span class="token comment" spellcheck="true">// the type is covariant
</span>
    println<span class="token punctuation">(</span><span class="token string">"sl2   = "</span> <span class="token operator">+</span> sl2<span class="token punctuation">)</span>
    println<span class="token punctuation">(</span><span class="token string">"sl2() = "</span> <span class="token operator">+</span> sl2<span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">)</span>
    println<span class="token punctuation">(</span><span class="token string">"sl2   = "</span> <span class="token operator">+</span> sl2<span class="token punctuation">)</span>
  <span class="token punctuation">}</span>
<span class="token punctuation">}</span>

</code></pre>
