<p>Default language reference: <b>stylus</b></p>
<pre class="language-"><code class="language-"><span class="token comment" spellcheck="true">/*!
 * Adds the given numbers together.
 */</span>
<span class="token comment" spellcheck="true">/*
 * Adds the given numbers together.
 */</span>
<span class="token comment" spellcheck="true">// I'm a comment!
</span><span class="token selector tag">body</span> <span class="token punctuation">{</span>
<span class="token property">    font</span><span class="token punctuation">:</span> <span class="token number">12</span><span class="token keyword">px</span> Helvetica, Arial, san<span class="token keyword">s</span><span class="token operator">-</span>serif<span class="token punctuation">;</span>
<span class="token punctuation">}</span>
<span class="token selector tag">a</span><span class="token selector class">.button</span> <span class="token punctuation">{</span>
    <span class="token operator">-</span>webkit<span class="token operator">-</span>border<span class="token operator">-</span>radiu<span class="token keyword">s</span><span class="token punctuation">:</span> <span class="token number">5</span><span class="token keyword">px</span><span class="token punctuation">;</span>
    <span class="token operator">-</span>moz<span class="token operator">-</span>border<span class="token operator">-</span>radiu<span class="token keyword">s</span><span class="token punctuation">:</span> <span class="token number">5</span><span class="token keyword">px</span><span class="token punctuation">;</span>
    border<span class="token operator">-</span>radiu<span class="token keyword">s</span><span class="token punctuation">:</span> <span class="token number">5</span><span class="token keyword">px</span><span class="token punctuation">;</span>
<span class="token punctuation">}</span>

<span class="token selector tag">body</span><span class="token property">
    font</span><span class="token punctuation">:</span> <span class="token number">12</span><span class="token keyword">px</span> Helvetica, Arial, san<span class="token keyword">s</span><span class="token operator">-</span>serif<span class="token punctuation">;</span>

<span class="token selector tag">a</span><span class="token selector class">.button</span><span class="token selector pseudo-element">:after</span>
    <span class="token operator">-</span>webkit<span class="token operator">-</span>border<span class="token operator">-</span>radiu<span class="token keyword">s</span><span class="token punctuation">:</span> <span class="token number">5</span><span class="token keyword">px</span><span class="token punctuation">;</span>
    <span class="token operator">-</span>moz<span class="token operator">-</span>border<span class="token operator">-</span>radiu<span class="token keyword">s</span><span class="token punctuation">:</span> <span class="token number">5</span><span class="token keyword">px</span><span class="token punctuation">;</span>
    border<span class="token operator">-</span>radiu<span class="token keyword">s</span><span class="token punctuation">:</span> <span class="token number">5</span><span class="token keyword">px</span><span class="token punctuation">;</span>

<span class="token selector tag">body</span><span class="token property">
    font</span><span class="token punctuation">:</span> <span class="token number">12</span><span class="token keyword">px</span> Helvetica, Arial, san<span class="token keyword">s</span><span class="token operator">-</span>serif

<span class="token selector tag">a</span><span class="token selector class">.link</span> <span class="token operator">&gt;</span> <span class="token selector tag">button</span><span class="token selector id">#test</span>, <span class="token selector tag">input</span><span class="token selector attr"><span class="token punctuation">[</span><span class="token attr-name">type</span><span class="token operator">=</span><span class="token attr-value">button</span><span class="token punctuation">]</span></span>, <span class="token selector tag">a</span><span class="token selector pseudo-element">:after</span>()
    <span class="token operator">-</span>webkit<span class="token operator">-</span>border<span class="token operator">-</span>radiu<span class="token keyword">s</span><span class="token punctuation">:</span> <span class="token number">5</span><span class="token keyword">px</span>
    <span class="token operator">-</span>moz<span class="token operator">-</span>border<span class="token operator">-</span>radiu<span class="token keyword">s</span><span class="token punctuation">:</span> <span class="token number">5</span><span class="token keyword">px</span>
    border<span class="token operator">-</span>radiu<span class="token keyword">s</span><span class="token punctuation">:</span> <span class="token number">5</span><span class="token keyword">px</span><span class="token variable">

font-size</span> <span class="token operator">=</span> <span class="token number">14</span><span class="token keyword">px</span><span class="token variable">
font</span> <span class="token operator">=</span> font<span class="token operator">-</span>size <span class="token string">"Lucida Grande"</span>, Arial

<span class="token selector tag">body</span> <span class="token punctuation">{</span>
<span class="token property">    padding</span><span class="token punctuation">:</span> <span class="token number">50</span><span class="token keyword">px</span><span class="token punctuation">;</span>
<span class="token property">    font</span><span class="token punctuation">:</span> <span class="token number">14</span><span class="token keyword">px</span><span class="token operator">/</span><span class="token number">1.4</span> font<span class="token keyword">s</span><span class="token punctuation">;</span>
<span class="token punctuation">}</span>

border<span class="token operator">-</span>radiu<span class="token keyword">s</span>()
    <span class="token operator">-</span>webkit<span class="token operator">-</span>border<span class="token operator">-</span>radiu<span class="token keyword">s</span> argument<span class="token keyword">s</span>
    <span class="token operator">-</span>moz<span class="token operator">-</span>border<span class="token operator">-</span>radiu<span class="token keyword">s</span> argument<span class="token keyword">s</span>
    border<span class="token operator">-</span>radiu<span class="token keyword">s</span> argument<span class="token keyword">s</span>

<span class="token selector tag">body</span>
    font <span class="token number">12</span><span class="token keyword">px</span> Helvetica, Arial, san<span class="token keyword">s</span><span class="token operator">-</span>serif

<span class="token selector tag">a</span><span class="token selector class">.button</span>
    border<span class="token operator">-</span>radiu<span class="token keyword">s</span>(<span class="token number">5</span><span class="token keyword">px</span>)

<span class="token atrule">@media</span> (<span class="token property">max-width</span><span class="token punctuation">:</span> <span class="token number">30</span><span class="token keyword">em</span>) <span class="token punctuation">{</span>
    <span class="token selector tag">body</span> <span class="token punctuation">{</span>
<span class="token property">        color</span><span class="token punctuation">:</span> <span class="token hexcode">#fff</span><span class="token punctuation">;</span>
    <span class="token punctuation">}</span>
<span class="token punctuation">}</span>

<span class="token atrule">@media</span> (<span class="token property">max-width</span><span class="token punctuation">:</span> <span class="token number">500</span><span class="token keyword">px</span>)
    <span class="token selector class">.foo</span><span class="token property">
        color</span><span class="token punctuation">:</span> <span class="token hexcode">#000</span>

    <span class="token atrule">@media</span> (<span class="token property">min-width</span><span class="token punctuation">:</span> <span class="token number">100</span><span class="token keyword">px</span>), (<span class="token property">min-height</span><span class="token punctuation">:</span> <span class="token number">200</span><span class="token keyword">px</span>)
        <span class="token selector class">.foo</span><span class="token property">
            color</span><span class="token punctuation">:</span> <span class="token hexcode">#100</span>

<span class="token function">sum</span>(nu<span class="token keyword">ms</span>...)
<span class="token variable">    sum</span> <span class="token operator">=</span> <span class="token number">0</span>
<span class="token variable">    sum</span> <span class="token operator">+</span><span class="token operator">=</span> n <span class="token keyword">for</span> n <span class="token keyword">in</span> nu<span class="token keyword">ms</span>

<span class="token function">sum</span>(<span class="token number">1</span> <span class="token number">2</span> <span class="token number">3</span> <span class="token number">4</span>)
<span class="token comment" spellcheck="true">// =&gt; 10</span>
</code></pre>
