<p>Default language reference: <b>wiki</b></p>
<pre class="language-"><code class="language-"><span class="token directive important">%YAML 1.2</span>
<span class="token punctuation">-</span><span class="token punctuation">-</span><span class="token punctuation">-</span> <span class="token tag">!&amp;lt;tag:clarkevans.com,2002:invoice&amp;gt;</span>
<span class="token key atrule">invoice</span><span class="token punctuation">:</span> <span class="token number">34843</span>
<span class="token key atrule">date</span>   <span class="token punctuation">:</span> <span class="token datetime number">2001-01-23</span>
<span class="token key atrule">bill-to</span><span class="token punctuation">:</span> <span class="token important">&amp;id001</span>
  <span class="token key atrule">given</span>  <span class="token punctuation">:</span> Chris
  <span class="token key atrule">family</span> <span class="token punctuation">:</span> Dumars
  <span class="token key atrule">address</span><span class="token punctuation">:</span>
    <span class="token key atrule">lines</span><span class="token punctuation">:</span> <span class="token punctuation">|</span><span class="token scalar string">
      458 Walkman Dr.
      Suite #292</span>
    <span class="token key atrule">city</span>    <span class="token punctuation">:</span> Royal Oak
    <span class="token key atrule">state</span>   <span class="token punctuation">:</span> MI
    <span class="token key atrule">postal</span>  <span class="token punctuation">:</span> <span class="token number">48046</span>
<span class="token key atrule">ship-to</span><span class="token punctuation">:</span>
  <span class="token key atrule">&lt;&lt;</span><span class="token punctuation">:</span> <span class="token important">*id001</span>
  <span class="token key atrule">product</span><span class="token punctuation">:</span>
    <span class="token punctuation">-</span> <span class="token key atrule">sku</span>         <span class="token punctuation">:</span> BL394D
      <span class="token key atrule">quantity</span>    <span class="token punctuation">:</span> <span class="token number">4</span>
      <span class="token key atrule">description</span> <span class="token punctuation">:</span> Basketball
      <span class="token key atrule">price</span>       <span class="token punctuation">:</span> <span class="token number">450.00</span>
    <span class="token punctuation">-</span> <span class="token key atrule">sku</span>         <span class="token punctuation">:</span> BL4438H
      <span class="token key atrule">quantity</span>    <span class="token punctuation">:</span> <span class="token number">1</span>
      <span class="token key atrule">description</span> <span class="token punctuation">:</span> Super Hoop
      <span class="token key atrule">price</span>       <span class="token punctuation">:</span> <span class="token number">2392.00</span>
<span class="token key atrule">tax</span>  <span class="token punctuation">:</span> <span class="token number">251.42</span>
<span class="token key atrule">total</span><span class="token punctuation">:</span> <span class="token number">4443.52</span>
<span class="token key atrule">comments</span><span class="token punctuation">:</span>
    Late afternoon is best.
    Backup contact is Nancy
</code></pre>
